name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'myapp/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./myapp
          push: true
          tags: yuuya081/myapp:latest,yuuya081/myapp:${{ github.sha }}
          